h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: purple;
}
.btn-success{
    font-size: 20px;
}
canvas{
    border: 10px double black;
    background-color: lightblue;
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes box{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}
body{
    background-position: center;
    background-size: cover;
    font-family: 'Merriweather', serif;
}